html {
    background-color: #333333;
    color: white;
    font-family: "Segoe UI", sans-serif;
    font-weight: 600;
}

body {
    margin: 0;
}

#hero-map {
    position: relative;
    margin-top: 5vh;
    margin-left: 5vw;
    height: 90vh;
    width: 90vw;
}

#minimap {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 20;
    overflow: hidden;
}

.widget {
    position: absolute;
    background: rgba(30, 30, 30, 0.8);
    border: 2px solid grey;
    width: 240px;
}

#widget_base-info {
    right: 20px;
    bottom: 60px;
    padding: 10px;
}

#widget_base-info>h1 {
    font-size: 18pt;
    margin-block-start: 0;
    margin-block-end: 0.5em;
}

#widget_base-info_name {
    display: block;
    font-size: 14pt;
    margin-block-end: 0.5em;
}

#widget_base-info_type {
    display: block;
}