html {
    background-color: #333333;
    color: white;
    font-family: "Segoe UI", sans-serif;
    font-weight: 600;
}

body {
    --sidebar-width: 300px;
    --sidebar-margin: 10px;
    /* Fill the entire screen */
    margin: 0;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

#sidebar {
    position: absolute;
    left: 0;
    height: 100%;
    width: var(--sidebar-width);

    background-color: orange;
}

#hero-map {
    position: absolute;
    left: var(--sidebar-width);
    right: 0px;
    height: 100%;
}

#minimap {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 20;
    overflow: hidden;
}

.widget {
    position: absolute;
    background: rgba(30, 30, 30, 0.8);
    border: 2px solid grey;
    width: 240px;
    z-index: 10;
}

#widget_base-info {
    right: 20px;
    bottom: 60px;
    padding: 10px;
}

#widget_base-info>h1 {
    font-size: 18pt;
    margin-block-start: 0;
    margin-block-end: 0.5em;
}

#widget_base-info_name {
    display: block;
    font-size: 14pt;
    margin-block-end: 0.5em;
}

#widget_base-info_type {
    display: block;
}

#continent-selector-frame {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
}

#toolbar {
    position: absolute;
    bottom: 60px;
    left: 20px;
    padding: 10px;
}

#toolbar>h1 {
    font-size: 18pt;
    margin-block-start: 0;
    margin-block-end: 0.5em;
}