.ps2map__viewport {
    background-color: #051010;
    overflow: hidden;
}

.ps2map__anchor {
    position: absolute;
}

.ps2map__layer {
    pointer-events: none;
    position: absolute;
    -ms-user-select: none;
    -webkit-user-select: none;
    transition: transform 200ms ease-out;
    user-select: none;
}

.ps2map__base-hexes__svg {
    --ps2map__base-hexes__stroke-width: 4px;
}

.ps2map__base-hexes__svg>polygon {
    fill: rgb(255, 255, 255);
    fill-opacity: 0.3;
    pointer-events: visiblePainted;
    stroke: #000000;
    stroke-width: var(--ps2map__base-hexes__stroke-width);
    /* Hover effects are applied in code as we need to reorder the SVG contents
       to promote the hovered element's outline, which has a habit of breaking
       the :hover pseudoclass. */
}

.ps2map__base-names__icon {
    --ps2map__base-color: #333333;
    --ps2map__base-icon-size: 1.5em;
    line-height: 0.95em;
    font-weight: 500;
    position: absolute;
    text-align: center;
    display: none;
    height: 2em;
    width: 8em;
    /* Slightly janky workaround for getting more pronounced text shadows. The
       performance hit is not so bad, but we'll need to keep an eye on this as
       more layers get implemented and start loading the renderer. */
    text-shadow:
        var(--ps2map__base-color) 0.1em 0.1em 0.2em,
        var(--ps2map__base-color) -0.1em -0.1em 0.2em;
}

.ps2map__base-names__icon::before {
    background-color: var(--ps2map__base-color);
    position: absolute;
    border-radius: calc(var(--ps2map__base-icon-size) * 0.5);
    height: var(--ps2map__base-icon-size);
    width: var(--ps2map__base-icon-size);
    right: calc(50% - var(--ps2map__base-icon-size) * 0.5);
    top: calc(0em - var(--ps2map__base-icon-size));
}

.ps2map__base-names__icon__amp-station::before {
    content: url(img/icons/amp-station.svg);
}

.ps2map__base-names__icon__bio-lab::before {
    content: url(img/icons/bio-lab.svg);
}

.ps2map__base-names__icon__construction-outpost::before {
    content: url(img/icons/construction-outpost.svg);
}

.ps2map__base-names__icon__containment-site::before {
    content: url(img/icons/containment-site.svg);
}

.ps2map__base-names__icon__interlink::before {
    content: url(img/icons/interlink.svg);
}

.ps2map__base-names__icon__large-outpost::before {
    --ps2map__base-icon-size: 1.2em;
    content: url(img/icons/large-outpost.svg);
}

.ps2map__base-names__icon__small-outpost::before {
    --ps2map__base-icon-size: 1.08em;
    content: url(img/icons/small-outpost.svg);
}

.ps2map__base-names__icon__tech-plant::before {
    content: url(img/icons/tech-plant.svg);
}

.ps2map__base-names__icon__trident::before {
    content: url(img/icons/trident.svg);
}

.ps2map__base-names__icon__warpgate::before {
    content: url(img/icons/warpgate.svg);
}

.ps2map__terrain {
    background-size: 100%;
}

.ps2map__terrain__tile {
    background-size: 100%;
    position: absolute;
}