.ps2map__viewport {
    overflow: hidden;
}

.ps2map__anchor {
    position: absolute;
}

.ps2map__layer {
    pointer-events: none;
    position: absolute;
    -ms-user-select: none;
    -webkit-user-select: none;
    transition: transform 200ms ease-out;
    user-select: none;
}

.ps2map__base-hexes {
    /* Temporary terrain texture to aid with alignment */
    background-image: url(../ps2-map-api/map_assets/Indar_LOD1.png);
    background-size: 100%;
}

.ps2map__base-hexes__hex>polygon {
    fill: rgb(255, 255, 255);
    fill-opacity: 0.3;
    pointer-events: visiblePainted;
    stroke: #000000;
    stroke-width: 4px;
}