.ps2map__viewport {
  overflow: hidden;
}

.ps2map__anchor {
  position: absolute;
}

.ps2map__layer {
  height: 100%;
  width: 100%;
  pointer-events: none;
  position: absolute;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  transition: transform 200ms ease-out;
}

.ps2map__base-hexes {
  z-index: 20;
  background-image: url(../apl-api/map_assets/Indar_LOD1.png);
  background-size: 100%;
  border: 1px solid green;
}

.ps2map__base-hexes__hex > polygon {
  fill: rgb(255, 255, 255);
  fill-opacity: 0.3;
  pointer-events: visiblePainted;
  stroke: #000000;
  stroke-width: 4px;
}

.ps2map__base-hexes__hex > polygon:hover {
    stroke: #ffffff;
}
